# SQS folder
SQS/Demofile
SQS/venv
SQS/sample.csv
SQS/EC2Unzip_org.py
SQS/.DS_Store
SQS/requirements.txt

# Cloudformation folder
Cloudformation/

# Docker folder
Docker/.DS_Store

# Lambda and subfolder 
Lambda/CompareFaces/venv/
Lambda/CompareFaces/venv
Lambda/CompareFaces/__pycache__/
Lambda/CompareFaces/__pycache__
Lambda/CompareFaces/.serverless
Lambda/CompareFaces/node_modules
Lambda/CompareFaces/package-lock.json
Lambda/CompareFaces/requirements.txt
Lambda/CompareFaces/package.json
Lambda/CompareFaces/serverless.yml
Lambda/CompareFaces/handler.py
Lambda/CompareFaces/data.json
Lambda/CompareFaces/event.json
Lambda/CompareFaces/source.jpg
Lambda/CompareFaces/target.jpg
Lambda/CompareFaces/.DS_Store 

Lambda/DetectFaces/venv/
Lambda/DetectFaces/venv
Lambda/DetectFaces/__pycache__/
Lambda/DetectFaces/__pycache__
Lambda/DetectFaces/.serverless
Lambda/DetectFaces/node_modules
Lambda/DetectFaces/package-lock.json
Lambda/DetectFaces/requirements.txt
Lambda/DetectFaces/package.json
Lambda/DetectFaces/serverless.yml
Lambda/DetectFaces/handler.py
Lambda/DetectFaces/data.json
Lambda/DetectFaces/event.json
Lambda/DetectFaces/source.jpg

Lambda/GetImagenames/venv/
Lambda/GetImagenames/venv
Lambda/GetImagenames/__pycache__/
Lambda/GetImagenames/__pycache__
Lambda/GetImagenames/.serverless
Lambda/GetImagenames/node_modules
Lambda/GetImagenames/package-lock.json
Lambda/GetImagenames/requirements.txt
Lambda/GetImagenames/package.json
Lambda/GetImagenames/serverless.yml

Lambda/ServerlessDemo/package.json
Lambda/ServerlessDemo/venv/
Lambda/ServerlessDemo/venv
Lambda/ServerlessDemo/.serverless
Lambda/ServerlessDemo/__pycache__/
Lambda/ServerlessDemo/__pycache__

Lambda/TransScribeMP3/__pycache__/
Lambda/TransScribeMP3/__pycache__
Lambda/TransScribeMP3/serverless.yml
Lambda/TransScribeMP3/event.json
Lambda/TransScribeMP3/.serverless
Lambda/TransScribeMP3/TransScribeMP3.py

Lambda/venv
Presentations/.DS_Store

EMR/EMR-config.json

Lambda/LoadData/__pycache__/
Lambda/LoadData/__pycache__
Lambda/LoadData/serverless.yml
Lambda/LoadData/event.json
Lambda/LoadData/.serverless
Lambda/LoadData/venv/
Lambda/.DS_Store
